body {
    color: aliceblue;
    background-color: #222222;
}



.flexHorizontal {
    display: flex;
    justify-content: safe;
    justify-content: space-evenly;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexCentral {
    display: flex;
    justify-content: center;
}

.textoCentralizado {
    text-align: center;
}

fieldset {
    border: solid black 1px;
    padding: none;
    border-radius: 10px;
}   

form {
    max-width: 800px;
    text-align: center;

    border-radius: 20px;
    border: 3px solid #1d1d1d;
    padding: 10px;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(48,48,48,1);
    /* background: radial-gradient(circle, rgba(48,48,48,1) 67%, rgba(33,33,33,1) 100%); */
}

div {
    margin: 5px;
}

div.questao {
    width: 300px;
}

label {
    display: block;
}

label.labelInline {
    display: inline;
}

.labelNaEsquerda {
    text-align: left;
    margin-left: 50px;
}

input, button {
    outline: none;
}

input {
    border: 1px solid gray;
    transition: border 0.25s linear;
    border-radius: 5px;
}

input, select, textarea {
    margin-top: 10px;
}

select {
    border: 1px solid gray;
    transition: border 0.25s linear;
    border-radius: 5px;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border: green 3px solid;
}

button {
    transition: box-shadow 0.25s linear;
    cursor: pointer;
}